nav {

    background-color: black;
}


a {

    color: aliceblue;
}

label {

    color: gray;
}

button {

    color: green;
}

button:hover {

    color: white;
}

.barr_03 {

    display: inline;
}

.menu {

    display: none;
     
 }

.menu img {

    max-width: 2.5rem;
    max-height: 1rem;
}



@media screen and (max-width:768px) {

    .barr_01 {

        display: none;
        

    }

    .barr_02 {

        display: none;
        
    }

    .barr_03 {

        display: none;
        
    }

    .barr_04 {

        display: none;
        
    }

    .barr_05 {

        display: none;
        
    }

    .navbar {

        cursor: pointer;
    }

    .navbar:hover + .menu {

        display: inline;
    }





    







    
}